Flask==3.0.3
flask-cors==4.0.0
gunicorn==21.2.0
torch==2.2.1
transformers==4.41.2
accelerate>=0.27.2
# bitsandbytes==0.43.1
llama-index>=0.10.15
llama-index-llms-huggingface>=0.1.4
llama-index-embeddings-huggingface>=0.1.4
chromadb==0.4.24
llama-index-vector-stores-chroma>=0.1.4
PyMuPDF>=1.23.26
langchain-community>=0.0.24
sentencepiece>=0.2.0
python-logstash-async>=2.5.0
